#buttons {
    display: grid;
    grid-template-areas: 
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
    gap: 0.5rem;
}

#equals {
    grid-area: equals;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#decimal {
    grid-area: decimal;
}

#clear {
    grid-area: clear;
}